.header {
  height: 90px;
  width: 100%;
  z-index: 10;
  border-bottom: 0.25px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.header.fix {
  position: fixed;
  height: 90px;
  width: 100%;
  z-index: 10;
  border-bottom: 0.25px solid rgba(0, 0, 0, 0.1);
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.logo__link {
  text-decoration: none;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logoImg {
  height: 35px;
  width: auto;
}

@media (max-width: 768px) {
  .logoImg {
    height: 30px;
    /* width: auto; */
  }
}

@media (max-width: 576px) {
  .logoImg {
    height: 30px;
    /* width: auto; */
  }
}
